@model IEnumerable<Modelo.Order>

<table class="table-bordered">
    <thead>
        <tr>
            <td>Item</td>
            <td>Nome</td>
            <td>Quantidade e Valor</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.Customer!.Name
                </td>
                <td>
                    <ul>
                    @for(int i = 0; i < order.OrderItems!.Count; i++)
                    {
                        <li>
                            @order.OrderItems[i].Product?.ProductName
                            (Qtd: @order.OrderItems[i].Quantity, Valor: @order.OrderItems[i].PurchasePrice.ToString("C"))
                        </li>
                    }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Mas que coisa</h1>